@import "variables/variables";
@import "./resets/resets";
@import "./mixin/mixin.scss";

// @function getSize(){

// }
body {
  font-family: $roboto;
  height: 90vh;
  overflow-y: hidden;
}
.hide {
  display: none;
}


#home-cover{
  background-image: url("../images/img_cover_home.jpg");
  width:100% ;
  height: 70vh;
  background-repeat: no-repeat;
  background-position: center;
  @include display(flex,center,center);
  flex-direction: column;
  text-align: center;
  color: $color-homeCover ;
  

}
.text-shadow{
  text-shadow: $paddingBase/20 $paddingBase/20 $paddingBase/5 $textShadow;
}
.title-font{
  font-size: $titleFont;
}
.title-font::first-letter{
  font-size: 120%;
}
/*margenes reutilizables*/

.margin-bottom-sm{
  margin-bottom: $marginBottonSm;
}

.margin-bottom-md{
  margin-bottom: $marginBottonMd;
}

.subtitle-font{
  font-size: $fontSubtitle;
}

.searchbar{
  background-color: $bgColor;
  padding-left: $paddingBase/2;
  padding: $paddingBase/20*3;
  width: $paddingBase/25;
  @include display(flex,space-between,center);
  box-shadow: $boxShadowPx $boxShadowPx $boxShadowPx $colorboxShadow;
  border-radius: 5px;
  margin: 0 auto;
}
.searchbar>input{
  width: 100%;
  padding: 0;
  padding-left: 15px;
  margin: 0;
  font-size: 15px;
  border: none;
  height: 45px;
}
.search-button{
  height: 45px;
  width: 45px;
  background-color: $bgcolorSearchBotton;
  color: $search-botton;
  border-radius: 5px;

}
.search-button:hover{

  background-color:$bgColorSearchBottonHover;
  color: red;
}
#icon-container{
  margin-top: 3rem;
  width: 100%;
  @include display(flex,space-around,center);
}
section#icon-container>i{
  font-size: 3rem;
  
}
.contenerdor-footer{
  margin-top: 5vh;
  background-color:$bgColorFooterContainer;
  @include display(flex,space-evenly,center);
  height: 25vh;
}
.footer-lista{
  color:$colorFotterLista;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.redes-sociales>a{
  text-decoration: none;
  margin-left: 20px;
  
}