
    #icon-container{
        text-align: center;
        flex-direction: column;
      }   
      .desktop{
          display: none;
      } 
      .mobile{
          color: white;
          padding-right: 20px;
          position: absolute;
          top: 10px;
          text-align: right;
      }
      .mobile>.drop-down{
          display: none;
      }

      .mobile:hover>.drop-down{
        width: 100%;
        padding-right: 20px;
        cursor: pointers;
        display: block;
        background-color: #2c2c2c;
        margin-top: 1rem;

      } 
      .drop-down a{
          text-decoration: none;
          color: white;
          padding-bottom: 5px;
          display: inherit;

      }
@media screen and (min-width: 767px) {
    #icon-container{
        flex: 1 0 #454545;
        text-align: center;
      }
      #icon-container i{
          width: 50%;
      }
      .mobile{
        display: none;
    } 
}

@media screen and (min-width: 568px) and (max-width: 991px) {
    #icon-container{
        color: chartreuse;
      }
}

@media screen and (min-width: 992px) {
    .title-font{
        font-size: 40px;
      }
}
